@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster+Two:wght@700&display=swap');
* {
    font-family: 'Libre Baskerville', serif;
}

.bar-item-a {
    background-image: url(https://cdn-icons-png.flaticon.com/512/4511/4511885.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left ;
    padding: 10px 20px;
    list-style-type: none;

}

.bar-item-b {
    background-image: url(https://cdn-icons-png.flaticon.com/512/4512/4512104.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left ;
    padding: 10px 20px;
    list-style-type: none;
}

.bar-item-c {
    background-image: url(https://cdn-icons-png.flaticon.com/512/181/181555.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left ;
    padding: 10px 20px;
    list-style-type: none;
}

.home-bar {
    position: relative;
    left: -5px;
    animation-name: nav;
    animation-duration: 1s;
}

.projects-list {
    text-align: center;
    position: relative;
    animation-name: table;
    animation-duration: 1s;
}

th {
    background-color: #5c162e;
}

td, th {
    padding: 10px ;
    border: 1px solid #191528;
}

.list-table {
    border: 3px solid #191528;
    display: inline-table;
    border-collapse: collapse;

    background: #7c162e;
    color: black;
    box-shadow: 0 0 20px 0 black;
}

.project-name, .task-item {
    text-decoration: none;
    color: black;
}


a {
    text-decoration: none;
    color:aqua ;
}

a:hover {
    color: steelblue;
}

.login, .signup,.update-task, .create-task, .create-project{
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 400px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 black;
    background: #adb5bd;
    animation-name: table;
    animation-duration: 1s;

}

html {
    background: url(https://images.unsplash.com/photo-1529854094573-579df2d96bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) no-repeat ;
    background-size: cover ;
}

.login-signup {
    color: steelblue;
}

button {
    padding: 20px;
    background-color:#3c6e71 ;
    border-radius: 35px;

}


@keyframes nav {
    0% {left: 500px;}
    100% {left: 0px;}
}

@keyframes table {
    0% {bottom: -300px;}
    100% {bottom: 0px;}
}

.delete_page {
    text-align: center;
    top: 50%;
}

.delete-button {
    background-color: red;
    border-color: red;
    border-width: 0 0.5rem 0.5rem;
}
