{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Signup</title>
</head>
<body>
    <nav>
        <p class="login-signup">Already a member? <a href="{% url 'login'%}">Login</a></p>
    </nav>
   <main>
        <div class="signup">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
