{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="main-page">
        <header>
            <nav class="home-bar">
                <ul>
                    {% if user.is_authenticated %}
                        <li class="bar-item-a" >
                            <a href="{% url 'show_my_tasks' %}"> My tasks</a>
                        </li>
                        <li class="bar-item-b">
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li class="bar-item-c">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
