{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>Task detail</title>
</head>
<body>
    <main>
        <div>
            <table class="list-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <td>{{ detail.name }}</td>
                            <td>{{ detail.start_date|date:"m/d/y" }}</td>
                            <td>{{ detail.due_date|date:"m/d/y" }}</td>
                            <td>{{ detail.is_completed|yesno }}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
