{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>My Tasks</title>
</head>
<body>
    <header>
        <nav class="home-bar">
            <ul>
                {% if user.is_authenticated %}
                    <li class="bar-item-b">
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li class="bar-item-c">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
<main>
        <div>
            <h1>My Tasks</h1>
            {% if my_tasks.count == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due date</th>
                            <th>Project</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in my_tasks %}
                            <tr>
                                <td><a class="task-item" href="{% url 'update_task' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.start_date|date:"m/d/y" }}</td>
                                <td>{{ task.due_date|date:"m/d/y"}}</td>
                                <td>{{task.project.name}}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
