{% load static %}
<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">

    <title>Delete</title>
</head>
<body >
    <main>
        <div class="delete_page" >
            <h3 style="font-weight: bolder;">Are you sure you want to do this????</h3>
            <form method="post">
                {% csrf_token %}
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </main>
</body>
</html>
