{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <h2><a style="color: red;" href="{% url 'delete_project' project.id%}">Delete Project</a></h2>
        <h1>{{ project.name }}</h1>
        <p> Description: {{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' project.id %}">Create a new task</a>
        </p>
        {% if project.tasks.count == 0 %}
            <p>This project has no tasks</p>
        {% else %}
            <table class="list-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                        {% for item in project.tasks.all %}
                    <tr>
                        <td><a class="project-name" href="{% url 'task_detail' item.id%}">{{ item.name }}</a></td>
                            <td>{{ item.assignee }}</td>
                            <td>{{ item.start_date|date:"m/d/y" }}</td>
                            <td>{{ item.due_date|date:"m/d/y" }}</td>
                            <td>{{ item.is_completed|yesno }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock content %}
