{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <title>My Projects</title>
</head>
<body class="main=page">
    <header>
        <nav class="home-bar">
            <ul>
                {% if user.is_authenticated %}
                    <li class="bar-item-a" >
                        <a href="{% url 'show_my_tasks' %}"> My tasks</a>
                    </li>
                    <li class="bar-item-c">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="projects-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}"> <img src="https://cdn-icons-png.flaticon.com/512/4512/4512078.png" style="height: 15px;">Create A New Project</a>
            </p>
            {% if project_list.count == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <a class="project-name" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
{% block content %}

{% endblock content %}
